<link rel="import" href="../packages/polymer/polymer.html">
<link rel="import" href="voronoi-play.html">
<link rel="import" href="main-app-section.html">

<dom-module id="main-app">
  <style>
  #header {
    background: #B71C1C;
    color: #fff;
    text-align: center;
    position: relative;
  }
  #logo {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    max-width: 1600px;
  }
  .contentBody {
    max-width: 850px;
    margin: 20px auto;
    padding: 5px;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.5em;
  }
  .contentBodyCompact {
    max-width: 850px;
    margin: 0 auto 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4em;
  }
  b {
    font-weight: 400;
    color: #B71C1C;
  }
  #customerProduct {
    background-color: var(--cp-background);
    padding: 2px 5px;
  }
  button {
    font-size: 18px;
    padding: 8px 10px;
    border: none;
    background: #B71C1C;
    color: white;
    outline: none;
    text-transform: uppercase;
    display: inline-block;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    cursor: pointer;
    margin-top: 10px;
  }
  main-app-section {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }
  </style>
  <template>
    <div id="header" class="vertical layout">
      <div class="flex"></div>
      <div style="padding: 5px;">
        <img id="logo" src="../images/logo_white.png">
      </div>
      <div class="flex"></div>
      <div id="voronoiContainer" class="fillContainer">
        <voronoi-play width="{{vSize.width}}" height="{{vSize.height}}"></voronoi-play>
      </div>
    </div>
    <div class$="{{contentStyle}}">
      <p>
        You finally get a prospect in front of your <span id="customerProduct">{{customerProduct.name}}</span>.<br>
        You need to wow them. Static text, images, and even videos no longer cut it.
        To engage people, you need <b>interactivity</b>.
      </p>
      
      <div id="sections">
        <template is="dom-repeat" items="{{sections}}">
          <main-app-section id$="{{getSectionId(item.id)}}" item="{{item}}" control="{{getControl(item.id)}}"></main-app-section>
        </template>
      </div>
      
      <div id="buttonsPanel">
        <template is="dom-repeat" items="{{buttons}}">
          <button on-tap="onButtonTap">{{item.text}}</button>
        </template>
      </div>
    </div>
    
    <div id="whatisPanel" style="display: none;">
      <p>
        We are a small team that is passionate about building fully interactive user interfaces.
        We're experts in rapid development of engaging, interactive, fully operational end-to-end user-facing systems using the latest web technologies.
      </p>
    </div>
    
    <div id="howPanel" style="display: none;">
      <p>Your website, product, or sales presentation tells a story.  We work on contract to help make it more engaging through interactivity.</p>
      <p>We prefer to start small.   You identify part of an existing user-facing system and we'll offer a proposal on how to increase its interactivity.</p>
      <p>We then rapidly prototype a solution and deliver it (typically in days or weeks) in the way that best fits the situation. 
        In many cases, what we deliver can be dropped into an existing resource (like a website or presentation) with minimum disruption.</p>
    </div>
    
    <div id="contactPanel" style="display: none;">
      <p>
        HivePoint is located in Palo Alto, California. To reach us, send us an email <a href="mailto:contact@hivepoint.com">contact@hivepoint.com</a> or send us a tweet 
        <a href="https://twitter.com/hivepoint" target="_blank">@HivePoint</a>
      </p>
    </div>
    
    <div id="teamPanel" style="display: none;">
      <div class="horizontal layout center" style="margin: 12px 0;">
        <div>
          <img class="personImage" src="../images/people/kingston.jpg">
        </div>
        <div style="padding-left: 15px; font-size: 90%; line-height: 1.3em;">
          <b>Kingston Duffie</b> is a serial entrepreneur in Silicon Valley. Before starting HivePoint, he was founder and CTO at WhiteTree (now part of Alcatel-Lucent), Turnstone (IPO in 2000), and Fanfare (now part of Spirent).
        </div>
      </div>
      <div class="horizontal layout center" style="margin: 12px 0;">
        <div>
          <img class="personImage" src="../images/people/carl.jpg">
        </div>
        <div style="padding-left: 15px; font-size: 90%; line-height: 1.3em;">
          <b>Carl Hubbard</b> is an expert in project management has led engineering teams at Turnstone, Fanfare, and Silver Peak before joining HivePoint.
        </div>
      </div>
      <div class="horizontal layout center" style="margin: 12px 0;">
        <div>
          <img class="personImage" src="../images/people/nathan.jpg">
        </div>
        <div style="padding-left: 15px; font-size: 90%; line-height: 1.3em;">
          <b>Nathan Neulinger</b> designs, implements, and manages all of HivePoint's cloud resources.
        </div>
      </div>
      <div class="horizontal layout center" style="margin: 12px 0;">
        <div>
          <img class="personImage" src="../images/people/preet.jpg">
        </div>
        <div style="padding-left: 15px; font-size: 90%; line-height: 1.3em;">
          <b>Preet Shihn</b> is a master of user experience design and implementation. After graduating from the University of Waterloo, he joined Fanfare and then became a co-founder of HivePoint.
        </div>
      </div>
    </div>
    
    <div id="gitmoPanel" style="display: none;">
      <p>
        We are the people behind <a href="https://braid.io" target="_blank">Braid magazine</a> which provides us with a way to use interactivity to tell interesting stories in a new way.
      </p>
      <p>
        Communicating with people is about telling stories. In the past, that meant writing. For example,
        when 9 prisoners were recently released from the Guantanamo Bay prison, the Guardian wrote
        <a href="http://www.theguardian.com/us-news/2016/apr/16/guantanamo-bay-prisoners-released-yemen-saudi-arabia" target="_blank">this 1000 word story</a> about it.
      </p> 
      <p>
        We told <a href="https://braid.io/tile/guantanamo-bay-detainees" target="_blank">the story of the Guantanamo Bay detainees</a>
        by using interactive graphics to let readers visualize and explore the data.
      </p>
      <div class="horizontal layout center" style="text-align: center;">
        <h3 class="flex">Traditional story</h3>
        <h3 class="flex">Interactive story</h3>
      </div>
      <div class="horizontal layout" style="text-align: center;">
        <div style="padding-right: 5px;" class="flex">
          <img style="display: block; width: 100%; height: auto;" src="../images/gitmo-guardian.jpg">
        </div>
        <div class="flex">
          <iframe src="//braid.io/embed-tile/gitmo-detainees-embed" frameborder="0" style=" display: block; box-sizing: border-box; border: 0px none; width: 100%; height: 517px; background: white;"></iframe>
        </div>
      </div>
    </div>
    
    <div id="lymePanel" style="display: none;">
      <p>
        On the left is a well written 700 word 
        <a href="http://www.sciencemag.org/news/2016/01/lyme-disease-carrying-ticks-are-now-half-all-us-counties" target="_blank">article</a> from Science Magazine about the spread of Lyme Disease. It even includes a map.
      </p>
      <p>
        On the right you see how <a href="https://braid.io/tile/lyme-disease-trends" target="_blank">we tell this same story</a> - eliminating most of the reading and inviting the reader to explore the data interactively.
      </p>
      <p>We can take these same concepts and apply them to your problem, improving your customer's experience.</p>
      <div class="horizontal layout center" style="text-align: center;">
        <h3 class="flex">Traditional story</h3>
        <h3 class="flex">Interactive story</h3>
      </div>
      <div class="horizontal layout" style="text-align: center;">
        <div style="padding-right: 5px;" class="flex">
          <img style="display: block; width: 100%; height: auto;" src="../images/lyme.jpg">
        </div>
        <div class="flex">
          <iframe src="//braid.io/embed-tile/lyme-disease-trends-map" frameborder="0" style=" display: block; box-sizing: border-box; border: 0px none; width: 100%; height: 524px; background: white;"></iframe>
        </div>
      </div>
    </div>
  </template>
  <script src="main-app.js"></script>
</dom-module>